<div>
    <h2>
        <span jhiTranslate="jhipsterApp.stravaActivity.home.title">Strava Activities</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="stravaActivities">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="jhipsterApp.stravaActivity.name">Name</span></th>
                <th><span jhiTranslate="jhipsterApp.stravaActivity.type">Type</span></th>
                <th><span jhiTranslate="jhipsterApp.stravaActivity.distance">Distance</span></th>
                <th><span jhiTranslate="jhipsterApp.stravaActivity.kudos_count">Kudos Count</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stravaActivity of stravaActivities ;trackBy: trackId">
                <td>
                    <a [routerLink]="['../strava-activity', stravaActivity.id ]">{{stravaActivity.name}}</a>
                </td>
                <td>{{stravaActivity.type}}</td>
                <td>{{stravaActivity.distance | convertDistance | number:'1.0-1'}}</td>
                <td>{{stravaActivity.kudos_count}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
